name: Coverage Computation

on: 
    workflow_dispatch #trigger it manually
    
jobs:
    maven-test:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout specific tag
              uses: actions/checkout@v3
              with:
                ref: refs/tags/calcite-1.15.0
            
            - name: Set up JDK 8
              uses: actions/setup-java@v3
              with:
                java-version: '8'
                distribution: 'temurin'
        
            - name: Add missing Maven repo for eigenbase artifacts
              run: |
                sed -i '/<project>/a\
                    <repositories>\
                        <repository>\
                            <id>osgeo</id>\
                            <url>https://repo.osgeo.org/repository/released/</url>\
                        </repository>\
                    </repositories>' pom.xml
        
            - name: Add JaCoCo plugin to pom.xml
              run: |
                sed -i '/<build>/,/<\/build>/ {
                    /<plugins>/a\
                        <plugin>\
                            <groupId>org.jacoco</groupId>\
                            <artifactId>jacoco-maven-plugin</artifactId>\
                            <version>0.8.14</version>\
                            <executions>\
                                <execution>\
                                    <id>prepare-agent</id>\
                                    <goals><goal>prepare-agent</goal></goals>\
                                </execution>\
                                <execution>\
                                    <id>report</id>\
                                    <phase>test</phase>\
                                    <goals><goal>report</goal></goals>\
                                </execution>\
                            </executions>\
                        </plugin>
                }' pom.xml
                    
            - name: Run jacoco test with maven-plugin
              run: mvn test
              
            - name: Upload surefire reports
              uses: actions/upload-artifact@v3
              with:
                name: surefire-reports
                path: '**/surefire-reports/*.txt'