name: Coverage-Computation NewVersion

on:
  workflow_dispatch:  # allows manual triggering

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 #get all

      # Step 2: Set up Java
      - name: Set up Java 8
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '8'

      # Step 3: Run Maven tests
      - name: Run Maven tests
        run: mvn -B clean test -Dmaven.test.failure.ignore=true
          
    
      
